@page
@model kirusha_crud_asp.net.Pages.Invoices.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].invoice_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].appointment_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].paid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].Appointment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Invoice) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.invoice_id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.appointment_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment.status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.invoice_id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.invoice_id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.invoice_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
