@page
@model kirusha_crud_asp.net.Pages.Patients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.name_first)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.name_first)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.name_middle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.name_middle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.name_last)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.name_last)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.date_of_birth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.date_of_birth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.house_number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.house_number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.postcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.allergies)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.allergies)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Patient.patient_id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
