@page
@model kirusha_crud_asp.net.Pages.Treatments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Treatment[0].treatment_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Treatment[0].type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Treatment[0].notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Treatment[0].cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Treatment) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.treatment_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cost)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.treatment_id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.treatment_id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.treatment_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
